<html>
  <h1>Statzilla Marketing Mix</h1>
  <body>
  <div>
    <img src="https://thumb.tildacdn.com/tild6635-3230-4934-a437-363062353466/-/resize/240x/-/format/webp/_.png">
    <%= File.read(@data) %>
  </div>
  </body>
</html>