<h1>Statzilla Marketing Mix</h1>
<img src="https://static.tildacdn.com/tild3732-3138-4964-a364-343132646633/logo200.png">
<%= form_with model:@xls_form do |f| %>

  <div class='form_group'>
    <%= f.file_field :file, class: 'file_input'%>
  </div>
  <div class="form_group">
    <%= f.submit %>
  </div>

<%end%>